<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2submit</title>
</head>
<body>

<div >
    <form  class="form-group"  method="POST" >
        <label for=""></label>
        <input type="text" name="1" id="1" class="form-control" placeholder="" aria-describedby="1">
        <small id="helpId" class="text-muted">Help text</small>
        <button type="submit" class="btn btn-primary ">Submit</button>
    </form>
</div>

<div class="container-fluid">
    <div class="form-group">
      <label class="custom-file">
        <input type="file" name="" id="file" placeholder="" class="custom-file-input" aria-describedby="fileHelpId">
        <span class="custom-file-control"></span>
      </label>
      <small id="fileHelpId" class="form-text text-muted">Help text</small>
    </div>
</div>

</body>
</html>