<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <form class="form-group" method="POST">
      <label for=""></label>
      <select class="custom-select" name="list" id="">
          <option selected>Select one</option>
          <option value="1">11111</option>
          <option value="2">222222</option>
          <option value="3">3333333</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>
</html>