<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        <p>提交：<input type="text" name="username" ></p>
        <p>密码：<input type="password" name="password" ></p>
        <!--<button type="submit">提交</button>-->
        <button type="submit">测试</button>
        <button type="submit">测试</button>
    </form>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>

</html>